
.cursor-pointer{
	cursor: pointer;
 }

.hidden {
	height: 0px;
	opacity: 0;
}

.video {
	transition: all 0.3s ease;
}

.invisible {
	height: 0px;
}

img {
	height: 100px;
	width: 177px;
}

@media (max-width: 767px) {
	.item-card {
		flex-direction: column;
	}
	.col {
		text-align: center;
	}
}